.page-template-page-architecture-of-surveillance #page {
  background: linear-gradient(to bottom, #2d465e 0%, #24394c 80%);
  margin-top: 0px;
}

.page-template-page-architecture-of-surveillance #page .container-inner {
  background-color: transparent;
  max-width: 1600px;
  box-shadow: none;
}

.page-template-page-architecture-of-surveillance .main-inner {
  padding-left: 0px;
  padding-right: 0px;
}

.page-template-page-architecture-of-surveillance .container-inner .main {
  background-color: transparent!important;
  padding-top: 40px;
}

.page-template-page-architecture-of-surveillance .container-inner > .main::before,
.page-template-page-architecture-of-surveillance .container-inner > .main::after {
  display: none;
}

.page-template-page-architecture-of-surveillance .container-inner .main h1 {
  color: #fff;
  text-align: center;
}

.aos-page-title {
  font-size: 36px;
  margin-bottom: 20px;
}

.aos-intro-image {
  max-width: 600px;
  margin: 0 auto;
}

.aos-infographic__info {
  color: #fff;
  padding: 20px;
  width: 30%;
}

.aos-infographic__text {
  display: none;
}

.aos-infographic__title {
  font-size:24px;
  margin-bottom:20px;
}

.aos-infographic__display {
  text-shadow: 2px 2px 4px #000000;
  min-height: 572px;
}

.aos-list {
  list-style: disc;
  margin-left: 20px;
}

.aos-infographic__nav {
  display: flex;
  justify-content: space-around;
}

.m-hidden {
  visibility: hidden;
  opacity: 0;
}

.m-fadeIn {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear 0s, opacity 300ms;
}

.aos-infographic__info .button {
  background-color: #fff;
  color: #333;
  display: block;
  margin-top: 20px;
  padding: 20px;
  text-align: center;
  width: 60px;
}

.aos-infographic__info h2 {
  color: #fff;
}

.aos-infographic {
  align-items: center;
  display: flex;
}

.aos-infographic__animation {
  width: 70%;
}

.video-consainer {
  display: none;
}

#videoCanvas {
  box-shadow: 0 -19px 21px 2px #2d465e;
  margin: 20px;
  width: 100%;
}